@page
@model Visitor.Pages.Login.IndexModel
@{
}

<div class="text-center">
    <h1 class="display-4">Visitor Management</h1>
</div>

<h1>User Login</h1>

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form method="post">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label name-label">User Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="username" value="@Model.userInfo.UserName">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="password" value="@Model.userInfo.Password">
        </div>
    </div>  

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary submit-btn">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary cancel-btn" href="/" role="button">Cancel</a>
        </div>
    </div>

</form>